@value brand: '../../brand.module.css';
@value dark, border, borderRadiusLg, selected, white, disabled from brand;

@value sideBarWidth: 10vw;

.menu {
  width: sideBarWidth;
  max-width: 10vw;
  height: 80vh;
  margin: 10vh 0 10vh 0;
  padding: 5vh 25px 10vh 25px;
  background-color: border;
}

:global .menu-list a.is-active {
  background-color: selected;
  border-radius: 4px;
}

:global .menu-list a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

:global .menu-list a:hover {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  background: none;
}

:global .menu-label {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: disabled;
}
